body {
  margin: 0;
  background-color: black;
  color: orange;
  font-family: "Arial", "Helvetica", sans-sarif !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#topNav {
  color: orange;
  border: solid 2px;
  border-color: orange;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
width: 100%;
text-align: left;
}

.upvote{
  background-color: green;
  max-width: 1%;
}

.downvote{
  background-color: red;
  max-width: 1%;
}

.sub-btns{
  background-color: black;
  color: white;
  border-color: orange;
}

#title {
  color: white;
  float: left;
}

#title2 {
  background: #FF9900;
  color: #000000;
  padding: 0 1px 1px 1px;
  margin-left: 10px;
  margin-right: 10px;
  float: right;
}

#logo {
  display: inline-block;
}

#signIn-btn, #signOut-btn {
  float: right;
  font-weight: normal;
  letter-spacing: 0;
  border: none;
  background: orange;
  transition: background .2s ease-in;
  -moz-transition: background .2s ease-in;
  -webkit-transition: background .2s ease-in;
  -o-transition: background .2s ease-in;
}

#signIn-btn:hover, #signOut-btn:hover{
  font-weight: normal;
  background: white;
}


.posts{
  text-align: left;
}

#submission-form{
  display: none;
}


#Content{
  height: 100px;
  width: 250px;
}